﻿@model PassHolder.Models.PassDataModel

@using (Html.BeginForm("Insert", "PassData", FormMethod.Post))
{
<table border="1" cellpadding="10">
    <tr>
        <td>Name :</td>
        <td>@Html.TextBoxFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>Login :</td>
        <td>@Html.TextBoxFor(m => m.Login)</td>
    </tr>
    <tr>
        <td>Password :</td>
        <td>@Html.TextBoxFor(m => m.Password)</td>
    </tr>
    <tr>
        <td>Description :</td>
        <td>@Html.TextAreaFor(m => m.Description)</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Save"
                   formaction="/PassData/insert" />
            <input type="submit" value="Cancel" 
                   formaction="/PassData/PassDataLoad" />
        </td>
    </tr>
</table>
}