﻿@model PassHolder.Models.PassDataModel

@using (Html.BeginForm("Edit", "PassData", FormMethod.Post))
{
    <table border="1" cellpadding="10">
        <tr>
            <td>Id :</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name :</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Login :</td>
            <td>@Model.Login</td>
        </tr>
        <tr>
            <td>Password :</td>
            <td>@Model.Password</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Edit"
                       formaction="/PassData/edit/@Model.Id" />
                <input type="submit" value="Cancel"
                       formaction="/PassData/PassDataLoad" />
            </td>
        </tr>
    </table>
}