﻿@model List<Models.GroupModel>

<h3>@ViewBag.Title</h3>

@foreach (var group in Model)
{
    <div>
        <label for="group">@group.Id </label> <label for="group">@group.Name </label><br />
    </div>

    <label for="group">UsersToGroup: </label>
    <br />
    foreach (var user in group.users)
    {
<div>
    <label for="user">@user.Id, </label> <label for="user">@user.UserName, </label><br /> <label for="user">@user.IsAdmin, </label><br />
</div>

    }

}