﻿@model PassHolder.ViewModel.PassDataViewModel

    <h1>List of Customers</h1>

    <form method="post">
        <input type="submit" value="Insert" formaction="new" />
        <br /><br />
        <table border="1" cellpadding="10">
            <tr>
                <th>PassData ID</th>
                <th>PassData Name</th>
                <th colspan="2">Actions</th>
            </tr>
            @foreach (var item in Model.PassDatas)
            {
                if (Model.SelectedPassData != null)
                {
                    if (item.Id == Model.SelectedPassData.Id)
                    {
                        @:<tr class="SelectedCustomer">
                    }
                    else
                    {
                        @: <tr>
                    }
                }
                else
                {
                    @: <tr>
                }
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <input type="submit" value="Edit" formaction="select/@item.Id" />
                    </td>
                    <td>
                        <input type="submit" value="Delete" formaction="delete/@item.Id"/>
                    </td>
                @:</tr>
            }
        </table>
    </form>
    <br /><br />
    @{
        if (Model.SelectedPassData != null)
        {
            if (Model.DisplayMode == "ReadOnly")
            {
                await Html.RenderPartialAsync("PassData/ShowPassData", Model.SelectedPassData);
            }
            if (Model.DisplayMode == "ReadWrite")
            {
                await Html.RenderPartialAsync("PassData/EditPassData", Model.SelectedPassData);
            }
        }
        if (Model.DisplayMode == "WriteOnly")
        {
            await Html.RenderPartialAsync("PassData/_InsertPassData", new PassHolder.Models.PassDataModel());
        }
    }
    }
