﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<p>@ViewBag.Message</p>
<div>
    <a asp-controller="Account" asp-action="Login">Login</a>
</div>